.block

  %h2 RECENT PROJECTS

  %ul#projects.clearfix
    - i=1
    - @projects.each do |project|
      - list_class = (i%4 == 0) ? 'last' : ''
      %li(class="#{list_class}")
        = link_to image_tag(project.thumbnail.url), project.url, :class => 'img'
        = link_to project.title, project.url
        %p.category 
          = Project::CATEGORIES[project.category]
        - unless project.client.blank?
          %p.client 
            = "for #{project.client}"
        - i=i+1

- if @recommendations
  - split = @recommendations.size/2
  .block
   
    %h2 WHAT PEOPLE SAY
    %a{:name => 'recommendations'}
    .clearfix
      %ul.quotes.left
        - @recommendations[0..split-1].each do |recommendation|
          %li
            %blockquote= recommendation.message
            %cite= recommendation.from

        
      %ul.quotes.right
        - @recommendations[split..@recommendations.size].each do |recommendation|
          %li
            %blockquote= raw recommendation.message
            %cite= recommendation.from


