!!!
%html
  = render :partial => 'layouts/head'
  %body
  #doc
    #hd.clearfix
      = image_tag 'logo.gif', :id => 'logo'
      = image_tag 'listen.gif', :id => 'listen'

    #bd.clearfix
      = render :partial => 'layouts/intro'

    #content.clearfix
      = yield

    #ft