!!!
%html
  = render :partial => 'layouts/head'
  %body
    #doc
      #hd.clearfix
        = image_tag 'logo.gif', :id => 'logo'
        = link_to image_tag('listen.gif', :id => 'listen'), '#recommendations', :class => 'img'

      #bd.clearfix
        = render :partial => 'layouts/intro'

      #content.clearfix
        = yield

      #ft
      = render :partial => 'layouts/tracking'